# OS X files
.DS_Store

# Custom folders
spaces/
vendor/
dist/

# Custom files & folders
_theme.scss
_overrides.scss
style.scss
styleguide/

# Incomplete components (while in development)
components/icons

# Development folders & files
.sass-cache
