/**
 * Rocket Components.
 * http://hedleysmith.github.io/rocketcomponents/
 *
 * 'Splash intro' UI component.
 *
 * Dependencies: none
 *
 */

.splash-intro {
  background-color: $colour-primary;
  color: #FFF;
  padding: 4em 0;
  text-align: center;
}
