/**
 * Rocket Components.
 * http://hedleysmith.github.io/rocketcomponents/
 *
 * 'Containers' utility component.
 * A set of containers, to wrap around other elements.
 *
 * Dependencies:
 * - rocket/utility/clearfix
 * - /utility/grid
 */

// Configuration
$container-normal: 1400px !default;
$container-thin: 1050px !default;
$container-thinner: 44em !default;

// At which breakpoint should we switch from small to large gutters?
$gutter-breakpoint: $break-large;

@mixin container-fixed() {
  @include clearfix;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $grid-gutter-small;
  @media (min-width: $gutter-breakpoint) {
    padding: 0 $grid-gutter-large;
  }
}

.l-container {
  @include container-fixed;
  max-width: $container-normal;
}

.l-container-thin {
  @include container-fixed;
  max-width: $container-thin;
}

.l-container-thinner {
  @include container-fixed;
  max-width: $container-thinner;
}

// Additionally provides vertical spacing
.l-container--vertical {
  margin-top: 1em;
  margin-bottom: 1em;
}
